.navbar-brand,
.navbar-nav .nav-link {
    font-family: 'Fauna One', sans-serif;
}



h1 {
  font-family: 'Fauna One', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-family: 'Fauna One', sans-serif;
  text-align: center;
  opacity: 50%;
  padding-top: 20px;
}

body {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: full;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  font-family: 'Fauna One', sans-serif;
  font-size: 20px;
}


.card-img-top {
  max-width: 20%;
  max-height: 20%;
  margin: auto;
  padding-top: 20px;
}

.card-stars {
  display: flex;

}

.card-stars i {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.card-stars .star-filled {
  color: #FFD700;
  border-color: #000;
}

.spinner-container {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: transform 0.6s ease;
}

.carousel-prev,
.carousel-next {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-prev:before,
.carousel-next:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  transform: rotate(45deg);
  margin-right: 20px;
  opacity: 50%;
}

.carousel-prev:before {
  transform: rotate(-135deg);
  margin-right: 0;
  margin-left: 20px;
}

.carousel-prev:hover:before,
.carousel-next:hover:before {
  border-color: #000000;

}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 2%;
}

#category-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  font-family: 'Fauna One', sans-serif;
}


button {
  background-color: #ffffff;
  color: #333;
  border: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
/*   margin: 1px; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #333;
  color: #fff;
}

.cart-buttons{
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  font-family: 'Fauna One', sans-serif;

}

.cart-buttons button:hover {
  background-color: #979797;
  color: #000000;
  border-color: #000;

}


